@charset "UTF-8";

.main-navigation .lines .line:first-child {
  transform: rotate(0deg) translate(0px, 0px);
  transition-duration: 0.3s;
}

.main-navigation .lines .line:nth-child(2) {
  opacity: 1;
  transition-duration: 0.3s;
}

.main-navigation .lines .line:last-child {
  transform: rotate(0) translate(0px, 0px);
  transition-duration: 0.3s;
}

.main-navigation .toggled {
  height: 100vh;
  background-color: #FFF5E9;
  animation: fadeInFromTop 0.5s ease-in forwards;
}

.main-navigation .line {
  height: 4px;
  background-color: #000;
  display: block;
  margin: auto;
  margin-block: 4px;
  width: 29px;
}

.main-navigation .site-title {
  z-index: 90;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  display: block;
}

.main-navigation .site-title a:hover {
  text-shadow: 2px 2px 12px rgb(224, 92, 4) !important;
  color: black !important;
}

.main-navigation .burgerButton {
  z-index: 99;
  margin-top: -25px !important;
  margin-left: 100px !important;
  height: 70px;
  width: 60px !important;
  position: absolute;
  cursor: pointer;
  left: 80%;
  top: 20px;
}

.main-navigation .burgerButton .active .line:first-child {
  transform: rotate(-45deg) translate(-11px, 0px);
  transition-duration: 0.3s;
}

.main-navigation .burgerButton .active .line:nth-child(2) {
  opacity: 0;
}

.main-navigation .burgerButton .active .line:last-child {
  transform: rotate(45deg) translate(-11px, 0px);
  transition-duration: 0.3s;
}

.main-navigation .opened-menu {
  color: white;
  height: 100vh;
}

.main-navigation .opened-menu .listBurger {
  display: block;
  justify-content: space-around;
  padding-top: 50px;
  font-family: "Roboto Mono";
}

.main-navigation .opened-menu .listBurger .menu-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}

.main-navigation .opened-menu .listBurger .fontLogo {
  margin-top: 200px;
  font-size: 14px;
}

.main-navigation .opened-menu .listBurger .fontLogo:hover {
  animation: none !important;
}

.main-navigation .opened-menu .listBurger a {
  padding: 10px;
  text-align: center;
  font-size: 64px;
}

.main-navigation .opened-menu .listBurger a:hover {
  text-shadow: 2px 2px 12px rgb(224, 92, 4) !important;
  color: black;
}

.main-navigation .opened-menu .images-menu ul li:hover {
  background-color: aquamarine;
}

.main-navigation .opened-menu .images-menu img {
  position: absolute;
}

.main-navigation .opened-menu .images-menu .Cat {
  width: 10%;
}

.main-navigation .opened-menu .images-menu .Cat.orange {
  animation: floating 10s linear infinite;
  top: 45em;
  left: 6em;
}

.main-navigation .opened-menu .images-menu .Cat.black {
  animation: floating 12s 3s linear infinite;
  top: 30em;
  left: 70em;
}

.main-navigation .opened-menu .images-menu .Cat.blue {
  animation: floating 12s 1s linear infinite;
  top: 13em;
  left: 19em;
}

.main-navigation .opened-menu .images-menu .Flower {
  width: 10%;
}

.main-navigation .opened-menu .images-menu .Flower.purple {
  animation: rotateImage 5s linear infinite;
  top: 9em;
  left: -4em;
}

.main-navigation .opened-menu .images-menu .Flower.lightPurple {
  animation: rotateImage 4s linear infinite;
  width: 5%;
  right: 13em;
  top: 28em;
}

.main-navigation .opened-menu .images-menu .Flower.white {
  animation: rotateImage 4s linear infinite;
  top: 8em;
  right: 20em;
}

.main-navigation .opened-menu .images-menu .groupFlowers {
  animation: rotateImage 6s linear infinite;
  top: 32em;
  left: 23em;
}

.main-navigation .opened-menu .images-menu .hibiscus {
  animation: rotateImage 12s linear infinite;
  width: 33%;
  right: 3em;
  top: 38em;
}

.banner {
  opacity: 0;
  animation: fadeInFromBottom 1.2s ease-in forwards;
  background-image: url(images_koukaki/Koukaki-vidéo.mp4);
}

.banner .video {
  opacity: -1;
  position: absolute;
  z-index: 1;
  animation: fadeInFromTop 1.5s ease-in forwards;
  top: 0;
}

.banner .parallax {
  opacity: 1;
  z-index: 99;
}

.banner .banner-image {
  z-index: 98;
  opacity: 1;
  position: relative;
  animation: floating 4s infinite ease-in;
  width: 100%;
}

.banner-image-backup {
  width: 100%;
}


.story .histoireImages {
  position: block;
  height: 10px;
}

.story .hibiscusHistoire {
  position: relative;
  bottom: 350px;
  left: 128%;
  animation: rotateImage 7s linear infinite;
}

#studio h2::before {
  animation: rotateImage 7s linear infinite;
  transform-origin: center;
}


.site-footer ul::after {
  animation: rotateImage 7s linear infinite;
}



.story .sunflowerHistoire {
  position: relative;
  right: 77%;
  top: 365px;
  animation: rotateImage 7s linear infinite;
}

.story .histoireCloud {
  z-index: 2;
  margin-top: -200px;
}

.story .story__article::after {
  visibility: hidden;
}

.story h2::after {
  visibility: hidden;
}

.story #characters {
  margin-left: -600px;
}

.story .mySwiper {
  width: 100%;
  height: 100%;
  font-size: 29px;
  text-align: center !important;
  background: none;
}

.story .mySwiper .swiper-slide {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.story .mySwiper .swiper-slide .swiper-slide img {
  position: relative;
  width: 300px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: none;
}

.story #place {
  opacity: 0;
  animation: fadeInFromBottom 1.2s ease-in forwards;
  background-image: url("images_koukaki/Studio_Koukaki-image_place.png");
}

.story #place .cloudScroll {
  animation: moveCloud 20s linear infinite;
}

.story #place .bigCloud {
  position: absolute;
  background-image: none;
  margin-left: 950px;
  filter: blur(15px);
}

.story #place .littleCloud {
  margin-left: 650px;
  filter: blur(10px);
}

#studio {
  opacity: 0;
  animation: fadeInFromBottom 1.2s ease-in forwards;
}

#studio .studioCloud {
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  margin-top: -250px;
}

#studio .sectionTitles {
  background-image: none;
}


.site-footer {
  padding-top: 350px;
}

.animationTitle:nth-child(1) {
  display: inline-block;
  animation: titleFade 0.5s ease-in forwards;
  animation-iteration-count: 1;
}

.animationTitle:nth-child(2) {
  display: inline-block;
  animation: titleFade 0.5s 0.3s ease-in forwards;
  animation-iteration-count: 1;
}

.speedUp {
  animation: rotateImage 3s linear infinite;
  transition-duration: 1s;
}

@media (max-width: 425px) {
  .video {
    display: none;
  }

  .sectionTitles {
    font-size: 2rem;
  }

  .banner {
    background-image: url(./assets/images/banner.png) !important;
    opacity: 1;
    min-height: 240px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .banner .banner-image {
    width: 200px;
  }

  .main-navigation {
    display: block;
  }

  .main-navigation p {
    font-size: 12px;
  }

  .main-navigation .site-title {
    font-size: 14px;
    height: 50px;
  }

  .main-navigation .burgerButton {
    padding-bottom: 20px;
    left: 60%;
  }

  .main-navigation .opened-menu .listBurger a {
    font-size: 20px;
  }

  .main-navigation .opened-menu .listBurger .fontLogo {
    font-size: 14px;
  }

  .story .hibiscusHistoire,
  .story .sunflowerHistoire {
    display: none;
  }

  .story #place {
    min-height: 250px;
  }

  .story #place .clouds {
    display: none;
  }

  .story #characters {
    margin-left: 0;
    margin: 2em;
  }

  #festival {
    width: 400px;
    margin-bottom: 50px;
    margin-left: 0;
    justify-content: center;
    padding-top: 20px;
  }

  #festival .festivalNomination {
    display: block;
    height: 300px;
    background-size: 100%;
    justify-content: center;
  }

  #festival .festivalNomination .festivalNominationText {
    font-size: 19px;
    margin-left: 5px;
    width: 340px;
    height: 350px;
    text-align: center;
  }

  #festival .festivalNomination .oscar-img {
    justify-content: center;
    width: 200px;
    height: auto;
    margin-top: 0;
    margin-left: 70px;
  }

  .site-footer {
    padding-top: 400px;
  }
}

.story .hibiscus_footer {
  animation: rotateImage 7s linear infinite;
}

.story .sunflowerHistoire {
  position: relative;
  right: 68%;
  top: 374px;
  animation: rotateImage 7s linear infinite;
}

@media screen and (min-width: 700px) {
  .main-navigation ul {
    display: flex;
    margin: 0;
    padding-left: 0;
  }
}

@keyframes titleFade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-500px);
    background-position-x: 0px;
  }

  to {
    opacity: 1;
    transform: translateY(0);
    background-position-x: 0px;
  }
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(300px);
  }

  to {
    opacity: 1;
    transform: translateY(1);
  }
}

@keyframes rotateImage {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(40px, 40px);
  }

  50% {
    transform: translate(-30px, 50px);
  }

  75% {
    transform: translate(60px, -20px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes burgerX {
  100% {
    transform: rotate(-45deg) translate(-6px, 6px);
  }
}

@keyframes burgerY {
  100% {
    transform: rotate(45deg) translate(-6px, 6px);
  }
}

@keyframes moveCloud {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-300px);
  }
}



#studio h2::after {
  animation: rotateImage 7s linear infinite;
}

/*# sourceMappingURL=style.css.map */



.fade-in-section {
  opacity: 0;
  transition: 2000ms all ease-in-out;
}

.fade-in-section.fade-in {
  opacity: 1;
}





@media only screen and (max-width: 600px) {
  .festivalNomination {
    flex-direction: column;
  }

  .festivalNominationContent,
  .oscar-img {
    width: 100%;
  }

  .festivalNominationContent {
    padding: 20px;
  }

  .festivalNominationText {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1100px) {
  .main-navigation .burgerButton {
    margin-left: 50px !important;
  }

  .festivalNominationText {
    font-size: 32px;
  }

  .oscar-img {
    width: 50%;
    height: auto;
    margin-left: 0;
    margin-top: 50px;
  }

  .site-footer {
    padding-top: 200px;
  }
}












.oscars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 150px 0 0 0;
}

.oscars-container h3 {
  color: #FFF5EA;
  font-size: 2.5rem;
  background-image: url("images_koukaki/Orangecloud.png");
  background-color: #FFF5EA;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 60px 80px;
  margin-bottom: 0;
}

.site-footer::before {
  content: none;
}

.site-footer::after {
  content: none;
}

.oscars-container {
  position: relative;
}

.oscars-container::before {
  content: url('./assets/images/Sunflower.png');
  position: absolute;
  left: 4em;
  top: 0em;
  animation: rotateImage 7s linear infinite;
}

.oscars-container::after {
  content: url('./assets/images/orchid.png');
  position: absolute;
  right: -4em;
  bottom: unset;
  top: 0;
  animation: rotateImage 7s linear infinite;
}


@media screen and (max-width: 660px) {
  .banner .banner-image {
    max-width: 80%;
  }

  .story #characters {
    margin-left: auto;
  }
}


.position-libre {
  position: absolute;
  top: 382px;
  left: 38px;

  animation: rotateImage 7s linear infinite
}

.position-p {
  position: absolute;
  top: 25px;
  left: 1087px;

  animation: rotateImage 7s linear infinite
}